body {
  margin: 0;
  background-color: var(--main-white-color);
  font-family: Manrope, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: Manrope, sans-serif;
}

button {
  display: block;
  border: none;
  outline: none;
  font-family: Manrope, sans-serif;
}

:root {
  /* COLORS */
  --main-white-color: #fff;
  --main-text-color: #121417;
  --secondary-text-color: #8a8a89;
  --shadow-text-color: rgba(18, 20, 23, 0.5);
  --accent-color: #3470ff;
  --focus-color: #0b44cd;
  --drop-color: #f7f7fb;

  /* ANIMATIONS */
  --function-duration: 350ms;
  --function-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
